<%= render 'header' %>
<div class="trailer-vid w-full">
    <iframe width="100%" height="700" src="<%= "https://www.youtube.com/embed/" + @movie_key%>" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
 encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

 <div class="movie-overview mt-5 mb-5 flex">
 <img class="w-44 h-60 rounded-md" src="<%= "https://image.tmdb.org/t/p/w500".concat(@movie_details["poster_path"]) %>">
<div class="flex justify-center p-3">
   <div class="w-[60%]">
      <h1 class="text-3xl"> <%= @movie_details["original_title"] %></h1>
       <h1 class="text-3xl"> <%= @movie_details["id"] %></h1>
<p class="mt-3"> <%= @movie_details["overview"] %></p>
   <p class="mt-2">Genre: <% @movie_details["genres"].each do |genre|%>
    <%= genre["name"]%>
 <%end%></p>
 <p class="mt-1">Released Date: <%= @movie_details["release_date"] %></p>
<p class="mt-1">Duration: <%= @movie_details["runtime"] %>minutes</p>
   </div>
   <div class="ml-5">
 <p class="">Popularity: <%= @movie_details["popularity"] %></p>
  <p class="mt-1">Language: <%= @movie_details["original_language"] %></p>
 <p class="mt-1">Production: <%= @movie_details["production_companies"].map { |production| production["name"] }.join(", ") %></p>
   </div>
</div>
 </div>
 <div class="trailer-vid w-full">
    <iframe width="100%" height="700" src="<%= "https://www.2embed.stream/embed/movie/" +  @movie_details["id"].to_s %>" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
 encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>