<%= render 'header' %>
<div class="trailer-vid w-full">
    <iframe class="w-full" height="800" src="<%= "https://www.2embed.stream/embed/movie/" +  @movie_details["id"].to_s %>" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
 encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>


<div class="movie-overview mt-5 mb-5 flex flex-col md:flex-row items-center md:text-start text-center justify-center md:mx-0 mx-8">
    <div class="md:w-1/3">
        <img class="w-80 h-auto rounded-md" src="<%= "https://image.tmdb.org/t/p/w500".concat(@movie_details["poster_path"]) %>">
    </div>
    <div class="">
        <h1 class="text-3xl"> <%= @movie_details["original_title"] %></h1>
        <p class="mt-3"> <%= @movie_details["overview"] %></p>
        <p class="mt-2">Genre: <% @movie_details["genres"].each do |genre|%>
            <%= genre["name"]%>
        <%end%></p>
        <p class="mt-1">Released Date: <%= @movie_details["release_date"] %></p>
        <p class="mt-1">Duration: <%= @movie_details["runtime"] %> minutes</p>
        <div class="">
            <div class="w-full md:w-1/2">
                <p class="">Popularity: <%= @movie_details["popularity"] %></p>
            </div>
            <div class="w-full md:w-1/2">
                <p class="mt-1">Language: <%= @movie_details["original_language"] %></p>
            </div>
            <div class="w-full">
                <p class="mt-1">Production: <%= @movie_details["production_companies"].map { |production| production["name"] }.join(", ") %></p>
            </div>
        </div>
    </div>
</div>

<div class="trailer-vid w-full">
    <iframe class="w-full" height="400" src="<%= "https://www.youtube.com/embed/" + @movie_key%>" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
 encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>